---
import Boton from "../components/atoms/Boton.astro";
import Layout from "../layouts/Layout.astro";


---

<Layout title="Pagina no encontrada">
        <h1 class="text-6xl text-amber-300 mb-5">Pagina no encontrada</h1>
        <Boton texto="Regresar" href="/"/>
        <a href="https://storyset.com/online">Online illustrations by Storyset</a>
</Layout>
